USE [master]
GO
/****** Object:  Database [BinAff]    Script Date: 03/29/2014 15:25:02 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'BinAff')
BEGIN
CREATE DATABASE [BinAff] ON  PRIMARY 
( NAME = N'BinAff', FILENAME = N'D:\Arpan\Personal\BinAff.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BinAff_log', FILENAME = N'D:\Arpan\Personal\BinAff.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BinAff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BinAff]
GO
/****** Object:  ForeignKey [FK_Module_Project]    Script Date: 03/29/2014 15:25:05 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Module_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Module]'))
ALTER TABLE [dbo].[Module] DROP CONSTRAINT [FK_Module_Project]
GO
/****** Object:  ForeignKey [FK_Component_Module]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Component_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Component]'))
ALTER TABLE [dbo].[Component] DROP CONSTRAINT [FK_Component_Module]
GO
/****** Object:  StoredProcedure [dbo].[ComponentRead]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ComponentRead]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ComponentRead]
GO
/****** Object:  StoredProcedure [dbo].[ComponentReadForParent]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ComponentReadForParent]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ComponentReadForParent]
GO
/****** Object:  StoredProcedure [dbo].[ModuleRead]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleRead]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ModuleRead]
GO
/****** Object:  StoredProcedure [dbo].[ModuleReadForParent]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleReadForParent]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ModuleReadForParent]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Component_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Component]'))
ALTER TABLE [dbo].[Component] DROP CONSTRAINT [FK_Component_Module]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Component]') AND type in (N'U'))
DROP TABLE [dbo].[Component]
GO
/****** Object:  StoredProcedure [dbo].[ProjectRead]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProjectRead]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProjectRead]
GO
/****** Object:  StoredProcedure [dbo].[ProjectReadAll]    Script Date: 03/29/2014 15:25:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProjectReadAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProjectReadAll]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 03/29/2014 15:25:05 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Module_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Module]'))
ALTER TABLE [dbo].[Module] DROP CONSTRAINT [FK_Module_Project]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Module]') AND type in (N'U'))
DROP TABLE [dbo].[Module]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 03/29/2014 15:25:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND type in (N'U'))
DROP TABLE [dbo].[Project]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 03/29/2014 15:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Project](
	[Id] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND name = N'IX_Project')
CREATE NONCLUSTERED INDEX [IX_Project] ON [dbo].[Project] 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Project', N'COLUMN',N'Code'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'P/S - Product/Service
D/M/W - Desktop / Mobile / Web
WIN/AND/LIN - Windows / Android / Linux' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Code'
GO
SET IDENTITY_INSERT [dbo].[Project] ON
INSERT [dbo].[Project] ([Id], [Code], [Name], [Description]) VALUES (CAST(1 AS Numeric(10, 0)), N'PD-WIN-001', N'Splash', N'Product for tourism industry')
INSERT [dbo].[Project] ([Id], [Code], [Name], [Description]) VALUES (CAST(2 AS Numeric(10, 0)), N'PD-WIN-002', N'Foliage', N'Product for collage automation')
INSERT [dbo].[Project] ([Id], [Code], [Name], [Description]) VALUES (CAST(3 AS Numeric(10, 0)), N'PD-WIN-003', N'Sparckle', N'Product for school automation')
SET IDENTITY_INSERT [dbo].[Project] OFF
/****** Object:  Table [dbo].[Module]    Script Date: 03/29/2014 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Module]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Module](
	[Id] [numeric](10, 0) NOT NULL,
	[ProjectId] [numeric](10, 0) NOT NULL,
	[Code] [char](4) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[IsMandatory] [bit] NOT NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Module]') AND name = N'IX_Module')
CREATE NONCLUSTERED INDEX [IX_Module] ON [dbo].[Module] 
(
	[ProjectId] ASC,
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Module] ([Id], [ProjectId], [Code], [Name], [Description], [IsMandatory]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'CUST', N'Customer Management', N'Customer management system', 1)
INSERT [dbo].[Module] ([Id], [ProjectId], [Code], [Name], [Description], [IsMandatory]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'LODG', N'Lodge Management', N'Lodge management system', 0)
INSERT [dbo].[Module] ([Id], [ProjectId], [Code], [Name], [Description], [IsMandatory]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'ACCT', N'Accountant', N'Invoice management system', 1)
/****** Object:  StoredProcedure [dbo].[ProjectReadAll]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProjectReadAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ProjectReadAll]
AS
BEGIN
	
	SELECT Id, Code, [Name], Description
	FROM Project
   
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ProjectRead]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProjectRead]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ProjectRead]
(
	@Id Numeric(10,0)
)
AS
BEGIN
	
	SELECT Id, Code, [Name], [Description]
	FROM Project
	WHERE Id = @Id
   
END
' 
END
GO
/****** Object:  Table [dbo].[Component]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Component]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Component](
	[Id] [numeric](10, 0) NOT NULL,
	[ModuleId] [numeric](10, 0) NOT NULL,
	[Code] [char](4) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[IsForm] [bit] NOT NULL,
	[IsReport] [bit] NOT NULL,
	[IsCatalogue] [bit] NOT NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Component] ([Id], [ModuleId], [Code], [Name], [Description], [IsForm], [IsReport], [IsCatalogue]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'CUST', N'Customer', N'Customer Management', 1, 1, 0)
INSERT [dbo].[Component] ([Id], [ModuleId], [Code], [Name], [Description], [IsForm], [IsReport], [IsCatalogue]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(2 AS Numeric(10, 0)), N'LRSV', N'Room Reservation', N'Reserving rooms in lodge', 1, 1, 0)
INSERT [dbo].[Component] ([Id], [ModuleId], [Code], [Name], [Description], [IsForm], [IsReport], [IsCatalogue]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(2 AS Numeric(10, 0)), N'LCHK', N'Check In', N'Lodge check in', 1, 1, 0)
/****** Object:  StoredProcedure [dbo].[ModuleReadForParent]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleReadForParent]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ModuleReadForParent]
(
	@ParentId Numeric(10,0)
)
AS
BEGIN
	
	SELECT Id, ProjectId, Code, Name, [Description], IsMandatory
	FROM Module
	WHERE ProjectId = @ParentId
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ModuleRead]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleRead]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ModuleRead]
(
	@Id Numeric(10,0)
)
AS
BEGIN
	
	SELECT Id, ProjectId, Code, Name, [Description], IsMandatory
	FROM Module
	WHERE Id = @Id
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ComponentReadForParent]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ComponentReadForParent]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ComponentReadForParent]
(
	@ParentId Numeric(10,0)
)
AS
BEGIN
	
	SELECT Id, ModuleId, Code, Name, [Description], IsForm, IsCatalogue, IsReport
	FROM Component
	WHERE ModuleId = (Select Id From Module WHERE Id = @ParentId)
   
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ComponentRead]    Script Date: 03/29/2014 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ComponentRead]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ComponentRead]
(
	@Id Numeric(10,0)
)
AS
BEGIN
	
	SELECT Id, ModuleId, Code, Name, [Description], IsForm, IsCatalogue, IsReport
	FROM Component
	WHERE Id = @Id
   
END
' 
END
GO
/****** Object:  ForeignKey [FK_Module_Project]    Script Date: 03/29/2014 15:25:05 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Module_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Module]'))
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Module_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Module]'))
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Project]
GO
/****** Object:  ForeignKey [FK_Component_Module]    Script Date: 03/29/2014 15:25:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Component_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Component]'))
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_Component_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Component_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Component]'))
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_Component_Module]
GO
