<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BinAff.Tool.License.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <BinAff.Tool.License.Properties.Settings>
      <setting name="License" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=BinAff;User Id=sa;Password=infotech@1;</value>
      </setting>
      <setting name="Application" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=AutoTourism;User Id=sa;Password=infotech@1;</value>
      </setting>
    </BinAff.Tool.License.Properties.Settings>
  </userSettings>
</configuration>
