<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="StartUpClass" value="Registration"/>
    <add key="StartUpAssembly" value="Vanilla.Guardian.WinForm"/>-->
    <add key="StartUpClass" value="Main"/>
    <add key="StartUpAssembly" value="Vanilla.Navigator.WinForm"/>
  </appSettings>
</configuration>